{% extends 'partials/layout.html' %}

{% block content %}
<h1 class="col-sm-8 center">Welcome</h1>
<p>Within this module I am gathering tweets about Elon Musk's Neuralink from twitter and using them to visualise into charts, graphs and other visual data.
<p />
<p>I also use Vader to anylise how overtyly positive or negative spacific tweets are acording to the package
<p />
<p>I further break this information down into demographic of who is posting these tweets
<p />
<p>I converted this into a web framework to allow you the ability to compare two topics. this prosets you data such as demographic age and location
<p />


{% endblock %}