<div class="container">
    <div class="col-sm-12 center">
        <header>
            <nav class="navbar navbar-light bg-light justify-content-between">
                <a class="nav-link" style = "font-family: 'Trebuchet MS', sans-serif;" href="/">
                    <b style="color:black; text-align:center">
                        Home
                    </b>
                </a>
                <a class="nav-link" style = "font-family: 'Trebuchet MS', sans-serif;" href="/about">
                    <b style="color:black;">
                        About
                    </b>
                </a>
                 <a class="nav-link" style = "font-family: 'Trebuchet MS', sans-serif;" href="/charts">
                    <b style="color:black;">
                        Charts
                    </b>
                </a>
                <!-- <a class="nav-link" href="http://google.com">Google</a>-->
            </nav>
        </header>
    </div>
</div>